/* AI */
.post-TianliGPT {
  background: var(--heo-secondbg);
  border-radius: 12px;
  padding: 12px;
  line-height: 1.3;
  border: var(--style-border-always);
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  .post-TianliGPT {
    margin-top: 22px;
  }
}

.tianliGPT-title {
  display: flex;
  color: var(--heo-lighttext);
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  cursor: default;
  user-select: none;
  position: relative;
}

.tianliGPT-title-text {
  font-weight: bold;
  margin-left: 8px;
  line-height: 1;
}

.tianliGPT-explanation {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--heo-card-bg);
  border-radius: 8px;
  border: var(--style-border-always);
  font-size: 15px;
  line-height: 1.4;
  display: block;
  color: var(--heo-fontcolor);
}

.tianliGPT-suggestions {
  display: flex;
  flex-wrap: wrap;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--heo-card-bg);
  border-radius: 8px 8px 8px 0;
  border: var(--style-border-always);
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  width: fit-content;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

.blinking-cursor {
  background-color: var(--heo-lighttext);
  width: 14px;
  height: 14px;
  border-radius: 16px;
  display: inline-block;
  vertical-align: middle;
  animation: blinking-cursor 2s infinite;
  -webkit-animation: blinking-cursor 2s infinite;
  margin-left: 4px;
  margin-bottom: 3px;
  transform: scale(0.6);
}

@keyframes blinking-cursor {
  0% {
    transform: scale(0.6);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.6);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
  }
}

.tianliGPT-tag {
  font-size: 12px;
  background-color: var(--heo-lighttext);
  box-shadow: var(--heo-shadow-main);
  color: var(--heo-card-bg);
  font-weight: 700;
  border-radius: 12px;
  margin-left: auto;
  line-height: 12px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.tianliGPT-tag.loadingAI {
  animation-duration: 2s;
  animation-name: AILoading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: default;
}

@keyframes AILoading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

ins.adsbygoogle {
  margin: 16px 0;
  background: var(--heo-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border-always);
}

#tianliGPT-Toggle {
  font-size: 12px;
  background: var(--heo-lighttext);
  color: var(--heo-card-bg);
  padding: 4px;
  border-radius: 4px;
  margin-left: 6px;
  transform: scale(0.8);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

#tianliGPT-Toggle:hover {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
}

.tianliGPT-title-icon {
  width: 24px;
  height: 24px;
  display: flex;
  background: var(--heo-lighttext);
  color: var(--heo-card-bg);
  font-size: 14px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.tianliGPT-title-icon svg {
  width: 14px;
  height: 14px;
  fill: var(--heo-card-bg);
}

.tianliGPT-title-icon svg path {
  fill: var(--heo-card-bg);
}