.block {
    display: block
}

.\!inline-block {
    display: inline-block!important
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}