.\!h-10 {
    height: 2.5rem!important
}

.\!h-12 {
    height: 3rem!important
}

.\!h-4 {
    height: 1rem!important
}

.\!h-\[9999px\] {
    height: 9999px!important
}

.\!h-auto {
    height: auto!important
}

.h-0 {
    height: 0
}

.h-1 {
    height: .25rem
}

.h-1\/2 {
    height: 50%
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-14 {
    height: 3.5rem
}

.h-16 {
    height: 4rem
}

.h-2 {
    height: .5rem
}

.h-24 {
    height: 6rem
}

.h-28 {
    height: 7rem
}

.h-3 {
    height: .75rem
}

.h-3\.5 {
    height: .875rem
}

.h-32 {
    height: 8rem
}

.h-4 {
    height: 1rem
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-64 {
    height: 16rem
}

.h-7 {
    height: 1.75rem
}

.h-72 {
    height: 18rem
}

.h-8 {
    height: 2rem
}

.h-96 {
    height: 24rem
}

.h-\[1px\] {
    height: 1px
}

.h-\[24vw\] {
    height: 24vw
}

.h-\[5\%\] {
    height: 5%
}

.h-\[65\%\] {
    height: 65%
}

.h-\[70\%\] {
    height: 70%
}

.h-auto {
    height: auto
}

.h-footer {
    height: var(--footer-bar-height)
}

.h-full {
    height: 100%;
}

.h-header {
    height: var(--header-bar-height)
}

.h-hideMusic {
    height: var(--hide-music-bar-height)
}

.h-music {
    height: var(--music-bar-height)
}

.h-screen {
    height: 100vh
}

.max-h-16 {
    max-height: 4rem
}

.max-h-48 {
    max-height: 12rem
}

.max-h-60 {
    max-height: 15rem
}

.max-h-64 {
    max-height: 16rem
}

.max-h-\[96vh\] {
    max-height: 96vh
}

.min-h-4 {
    min-height: 1rem
}

.min-h-48 {
    min-height: 12rem
}

.min-h-52 {
    min-height: 13rem
}

.min-h-64 {
    min-height: 16rem
}

.min-h-\[200px\] {
    min-height: 200px
}

.min-h-full {
    min-height: 100%
}

.min-h-screen {
    min-height: 100vh
}