.-translate-x-12 {
    --tw-translate-x: -3rem
}

.-translate-x-12,.-translate-x-2\/4 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-2\/4 {
    --tw-translate-x: -50%
}

.-translate-y-1\/2,.-translate-y-2\/4 {
    --tw-translate-y: -50%
}

.-translate-y-1\/2,.-translate-y-2\/4,.-translate-y-\[110\%\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-\[110\%\] {
    --tw-translate-y: -110%
}

.translate-x-0 {
    --tw-translate-x: 0px
}

.translate-x-0,.translate-x-7 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-7 {
    --tw-translate-x: 1.75rem
}

.translate-y-0 {
    --tw-translate-y: 0px
}

.translate-y-0,.translate-y-1\/2 {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-1\/2 {
    --tw-translate-y: 50%
}

.translate-y-10 {
    --tw-translate-y: 2.5rem
}

.translate-y-10,.translate-y-\[0\.05rem\] {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[0\.05rem\] {
    --tw-translate-y: .05rem
}